<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
</head>

<body>
  <div style="background-color: rgb(141, 185, 250);">
    <div class="text-center"><b>{{title}}</b></div>
  </div>
  <div style="display:flex;" class="mx-auto">
    <nav class="navbar bg-light">
      <div class="btn btn-grey m-1"> <a routerLink="addProduct">Add product</a></div>
      <div class="btn btn-grey m-1"> <a routerLink="editProduct">Edit Product</a></div>
      <div class="btn btn-grey m-1"> hello</div>
      <div class="btn btn-grey m-1"> hello</div>
    </nav>
  </div>


</body>
<router-outlet></router-outlet>

</html>